# Transform Phenotypic Data into a Common Format
This script accesses the extracted data in their original format and applys a mapping to harmonize the data into a common tabular format.

In [66]:
import os
import json

import numpy as np
import pandas as pd

print(os.path.abspath(os.path.curdir))

/Users/nicholsn/Repos/metasearch/crawler/transform

In [3]:
# Path to projects with extracted files.
extract_path = os.path.abspath('../extract')
# Path to where the tranformed projects will go.
xfm_path = os.path.abspath(os.path.curdir)
# Project dirs.
project_names = [i for i in os.listdir(extract_path) if '.' not in i]
extract_dirs = [os.path.join(extract_path, i) for i in project_names]
xfm_dirs = [os.path.join(xfm_path, i) for i in project_names]

In [178]:
def apply_mapping(mapping, df_list):
    """
    Reads a dictionary mapping and list of dataframe, then merges the
    dataframes and convers the column name and values into a common
    format. Note: the dataframes should have a common structure.
    
    Example Mapping Structure
    =========================
    {  
        "DX_GROUP":
      {
        "element": "diagnosis",
        "type": "category",
        "1": "autism",
        "2": "control"
      }
    }
    """
    results = list()
    csv = pd.concat(df_list)
    csv.reset_index(drop=True, inplace=True)
    for col, elem in mapping.iteritems():
        series = csv[col]
        if elem.get('type') == 'category':
            result = series.apply(lambda x: elem.get(str(x)))
        elif elem.get('type') == 'number':
            result = series.apply(lambda x: np.NaN if str(x) in elem.keys() else x)
        else:
            try:
                # Handle ids being read as float.
                result = series.apply(lambda x: str(int(x)) if pd.notnull(x) else x)
            except ValueError as e:
                result = series
        # Concat all csv in a extract dir into one dataframe.        
        df = pd.DataFrame()
        df[elem.get('element')] = result
        results.append(df)
        concat = pd.concat(results, axis=1)
    return concat.groupby(level=0, axis=1).first()

In [177]:
# Read a mapping.json file from each sub directory to process.
for project_name in project_names:
    df_list = list()
    mapping = dict()
    extract_dir = os.path.join(extract_path, project_name)
    xfm_dir = os.path.join(xfm_path, project_name)
    # All files must use the same data dictionary in a given directory.
    extract_files = [os.path.join(extract_dir, i) for i in os.listdir(extract_dir)]
    mapping_file = os.path.join(xfm_dir, 'mapping.json')
    if os.path.exists(mapping_file) and 'indi' in mapping_file:
        with open(mapping_file, 'rb') as fi:
            mapping.update(json.load(fi))
        ext_type = dict(csv=',', tsv='\t')
        for extract_file in extract_files:
            # Process each file.
            ext = extract_file.split('.')[-1]
            sep_type = ext_type.get(ext)
            df = pd.read_csv(extract_file, sep=sep_type)
            df_list.append(df)
        xfm = apply_mapping(mapping, df_list)
        pheno_file = ''.join([project_name, '_', 'phenotype.csv'])
        pheno_path = os.path.join(xfm_dir, pheno_file)
        # Add a column for the specific project.
        xfm['project'] = project_name
        xfm.to_csv(pheno_path, index=False)

In [239]:
g = xfm.groupby(level=0, axis=1).first()

In [240]:
g.first()

       age participant_id project     sex
0      NaN    sub-0030689    indi  Female
1      NaN    sub-0030690    indi  Female
2      NaN    sub-0030691    indi  Female
3      NaN    sub-0030692    indi  Female
4      NaN    sub-0030693    indi  Female
5      NaN    sub-0030694    indi    Male
6      NaN    sub-0030695    indi    Male
7      NaN    sub-0030696    indi    Male
8      NaN    sub-0030697    indi    Male
9      NaN    sub-0030698    indi    Male
10    18.0          25629    indi  Female
11    18.0          30699    indi    Male
12    22.0          25630    indi  Female
13    22.0          30700    indi    Male
14    20.0          30701    indi  Female
15    19.0          25631    indi    Male
16    20.0          25632    indi    Male
17    19.0          30702    indi  Female
18    18.0          25633    indi  Female
19    25.0          30703    indi    Male
20    18.0          30704    indi    Male
21    19.0          30705    indi    Male
22    23.0          30706    indi    Male
23    23.0          25634    indi  Female
24    18.0          30707    indi  Female
25    19.0          30708    indi    Male
26    18.0          30709    indi  Female
27    19.0          30710    indi  Female
28    22.0          30711    indi  Female
29    24.0          30712    indi  Female
...    ...            ...     ...     ...
1028   NaN          31000    indi  Female
1029   NaN          31004    indi  Female
1030   NaN          31005    indi    Male
1031   NaN          31008    indi  Female
1032   NaN          31010    indi  Female
1033   NaN          31015    indi  Female
1034   NaN          31016    indi  Female
1035   NaN          31018    indi    Male
1036   NaN          31019    indi  Female
1037   NaN          31021    indi  Female
1038   NaN          31034    indi  Female
1039   NaN          31035    indi  Female
1040   NaN          31037    indi    Male
1041   NaN          31039    indi  Female
1042   NaN          31040    indi  Female
1043   NaN          31043    indi  Female
1044   NaN          31044    indi  Female
1045   NaN          31045    indi  Female
1046   NaN          31046    indi  Female
1047   NaN          31047    indi  Female
1048   NaN          31048    indi  Female
1049   NaN          31049    indi  Female
1050   NaN          31050    indi  Female
1051   NaN          31051    indi  Female
1052   NaN          31052    indi  Female
1053   NaN          31053    indi  Female
1054   NaN          31054    indi  Female
1055   NaN          31055    indi  Female
1056   NaN          31056    indi  Female
1057   NaN          31057    indi  Female

[1058 rows x 4 columns]